div.body {
    margin: 20px;
}

div.title {
}

div.generator {
    background-color: #eee;
    width: 100%;
    padding: 1em;
    border-radius: 7px;
}

    div.generator div.inb-category {
        background-color: #ccc;
        display: inline-block;
        padding: 0.5em;
        border-radius: 7px;
        margin-bottom: 10px;
    }

    div.generator .text {
        border-radius: 5px;
        border: 2px solid black;
        padding: 8px;
        outline: none;
        color: black;
        background-color: white;
    }

        div.generator .text:focus {
            border: 2px solid blue;
        }

    div.generator textarea#command {
        width: 100%;
    }

    div.generator .number {
        width: 4em;
    }

span.checkbox {
}

    span.checkbox img {
        width: 2rem;
    }

    span.checkbox.check img#unchecked {
        display: none;
    }

    span.checkbox.uncheck img#checked {
        display: none;
    }
